iframe {
    width: 600px;
    height: 600px;
    border: 1px solid hotpink;
    background-color: white;
}

h1 {
    border-radius: 50px;
    background-color: hotpink;
    color: white;
    text-align: center;
}

body { 
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 20px;
    background-color: lightgrey;
}